# Ignore a file
#.idea/workspace.xml
#
src/main/__pycache__/**
**/__pycache__/**
.idea/**

#Pokemon\ Application/.idea/workspace.xml
#Pokemon\ Application/application/__pycache__/
#Pokemon\ Application/automation_scripts/__pycache__/
