# Ignore a file
#.idea/workspace.xml
#
**__pycache__/**
**.idea/**

Pokemon\ Application/.idea/workspace.xml
#Pokemon\ Application/application/__pycache__/
#Pokemon\ Application/automation_scripts/__pycache__/
